.quote {
    background-color: #379683;
    color: #EDF5E1;
    border-radius: 6px;
    padding: 3rem;
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    font-weight: 700;
}
  
.quote p {
    font-size: 2.5rem;
}
  
.quote figcaption {
    font-style: italic;
    font-size: 1.5rem;
    text-align: right;
    color: #EDF5E1;
}
