.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.sorting {
    margin-bottom: 1rem;
}
  
.sorting button {
    font: inherit;
    color: #EDF5E1;
    border: 1px solid #EDF5E1;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    text-shadow: 0 0 10px #379683;
}
  
.sorting button:hover {
    color: #379683;
    background-color: #EDF5E1;
    text-shadow: none;
}